// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import "~font-awesome/scss/font-awesome.scss";

@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}

@media (min-width: 1500px) {
    .container {
        max-width: 1480px;
    }
}

@media (min-width: 1700px) {
    .container {
        max-width: 1680px;
    }
}
.font-13{
    font-size: 13px;
}
tbody [rowspan],
tbody [rowspan] ~ th,
tbody [rowspan] ~ td,
tfoot {
  border-top: 2px solid #dee2e6;
}
.bg-azure{
    background-color: azure;
}
